.GeneralButton{
    background-color: rgb(151, 206, 76, 0.8);
    color: white;
    font-size: 16px; 
    padding: 5px;
    border-color: rgb(89, 64, 15);
    border-radius: 10px; 
    cursor: pointer;
    margin: 10px;
}

    @media(max-width: 768px){
        .GeneralButton{
            font-size: 10px;
        }
    }

.GeneralButton:hover{
    background-color: rgb(222, 222, 82);
}

.GeneralButtonActive {
    background-color: rgb(222, 222, 82); 
    color: white;
    font-size: 16px; 
    padding: 5px;
    border-color: rgb(89, 64, 15);
    border-radius: 10px; 
    cursor: pointer;
    margin: 10px;   
}

    @media(max-width: 768px){
        .GeneralButtonActive{
            font-size: 12px;
        }
    }

.Logo{
    width: 200px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(89, 64, 15);
}

    @media(max-width: 768px){
        .Logo{
            width: 80px;
        }
    }

